doctype html
html
  head
    title= user.title
    link(href="//libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css",rel="stylesheet")
    link(href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet")
    link(rel='stylesheet', href='public/css/index.css')
  body(ng-app='myApp')
    div(list-menu)
    include slider
    .perfect-container
      div(ui-view).col
      chat-menu
  block scripts
    script.
      var _username = '#{user.username}'
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
    script(src="bower_components/angular-ui-load/ui-load.js")
    script(src="bower_components/angular-ui-jq/ui-jq.js")
    script(src="bower_components/toastr/toastr.js")
    //drictive
    script(src="public/js/compressed/drictive/list-menu.js")
    script(src="public/js/compressed/drictive/chat-menue.js")
    script(src="public/js/main.js")
    script(src="public/js/index.js")
    script(src="public/js/slider.js")
    script(src="public/js/compressed/charts/mainCharts.js")

