doctype html
html
  head
    title= title
    link(href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css",rel="stylesheet")
    link(rel='stylesheet', href='/css/login.css')
  body
    .container
      .container-login
        .login-title Perfect
        .login-info Sign in to get in touch
        form.login-form(action='ajaxLogin',method='post')
          .form-group
            input.login-input.username(type='text',placeholder='请输入用户名')
          .form-group
            input.login-input.password(type='password',placeholder='请输入密码')
          .err-msg 用户名或密码错误
          .form-group
            button.login-input.btn.login-btn 登录
        .info-area
          .forgot-pwd-info 忘记密码
          .register-info 注册一个新账号
          button.to-register.btn 创建账号

  script(src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
  script(src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js")
  script(src="/js/login.js")

