.slider-div
  .slider-info 功能菜单
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        .panel-title
          a(data-toggle='collapse',data-parent='#accordion',href='#collapseOne')
            i.fa.fa-file-o
            span pages
            i.fa.fa-angle-right
      #collapseOne.panel-collapse.collapse.in
        .panel-body sfdfsf
    .panel.panel-default
      .panel-heading
        .panel-title
          a(data-toggle='collapse',data-parent='#accordion',href='#collapseTwo')
            i.fa.fa-bar-chart
            span charts
            i.fa.fa-angle-right
      #collapseTwo.panel-collapse.collapse
        .panel-body sfdfsf  123


