.slider-div(ng-controller='sliderCtrl')
  .slider-info 功能菜单
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        .panel-title
          a(data-toggle='collapse',data-parent='#accordion',href='/#collapseOne',ng-click='collapseTo($event)')
            i.fa.fa-file-o
            span pages
            i.fa.fa-angle-right
      if(user.index)
        #collapseOne.panel-collapse.collapse.in
          .panel-body
            a(ui-sref='page') mian Page
      else
        #collapseOne.panel-collapse.collapse
          .panel-body
            a(ui-sref='page') mian Page
    .panel.panel-default
      .panel-heading
        .panel-title
          a(data-toggle='collapse',data-parent='#accordion',href='/#collapseTwo',ng-click='collapseTo($event)')
            i.fa.fa-bar-chart
            span charts
            i.fa.fa-angle-right
      if(user.charts)
        #collapseTwo.panel-collapse.collapse.in
          .panel-body
            a(ui-sref='charts') charts Test
      else
        #collapseTwo.panel-collapse.collapse
          .panel-body
            a(ui-sref='charts') charts Test

