.slider-div
  .slider-info 功能菜单
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        .panel-title
          a(data-toggle='collapse',data-parent='#accordion',href='#collapseOne')
            i.fa.fa-file-o
            span pages
            i.fa.fa-angle-right
      if(user.index)
        #collapseOne.panel-collapse.collapse.in
          .panel-body
            a(href='/') mian Page
      else
        #collapseOne.panel-collapse.collapse
          .panel-body
            a(href='/') mian Page
    .panel.panel-default
      .panel-heading
        .panel-title
          a(data-toggle='collapse',data-parent='#accordion',href='#collapseTwo')
            i.fa.fa-bar-chart
            span charts
            i.fa.fa-angle-right
      if(user.charts)
        #collapseTwo.panel-collapse.collapse.in
          .panel-body
            a(href='/charts') charts Test
      else
        #collapseTwo.panel-collapse.collapse
          .panel-body
            a(href='/charts') charts Test

